In [1]:
!which python

/Users/lucycollins/Desktop/myProjects/HUD_data/venv/bin/python

In [3]:
import pandas as pd
df = pd.read_csv("Louisville_Metro_KY_Meals_Served_Summary.csv")
df.head()

,MealID,Date,BREADFST_SERV,LUNCH_SERV,SNACK_SERV,Site,SiteAddress,SiteZipcode,ObjectId
0,301,6/11/09 4:00,0.0,21,25,VICTORY CHRISTIAN CDC,1410 DIXIE HIGHWAY,40210,1
1,302,6/11/09 4:00,0.0,22,0,WALNUT ST ACTIVITIES,1143 S. 3RD ST.,40203,2
2,303,6/11/09 4:00,0.0,22,20,REFUGE IN KENTUCKY,207 S. Hancock,40202,3
3,304,6/11/09 4:00,0.0,23,26,REDEEMED CHRISTIAN CHURCH,3725 RIVER PARK DRIVE,40211,4
4,305,6/11/09 4:00,0.0,27,0,NEW JERUSALEM SPCL MNSTRY,2973 WILSON AVENUE,40211,5

### **Table of Contents**
* [Keep this file in your project](#keep-this-file-in-your-project)

# Keep this file in your project

keep at the bottom of your project

We will go over it later, its a script that will generate a markdown table of contents based on your headings created here in markdown.

In [1]:
import json
import os


def generate_toc_from_notebook(notebook_path):
    """
    Parses a local .ipynb file and generates Markdown for a Table of Contents.
    """
    if not os.path.isfile(notebook_path):
        print(f"❌ Error: File not found at '{notebook_path}'")
        return

    with open(notebook_path, 'r', encoding='utf-8') as f:
        notebook = json.load(f)

    toc_markdown = "### **Table of Contents**\n"
    for cell in notebook.get('cells', []):
        if cell.get('cell_type') == 'markdown':
            for line in cell.get('source', []):
                if line.strip().startswith('#'):
                    level = line.count('#')
                    title = line.strip('#').strip()
                    link = title.lower().replace(' ', '-').strip('-.()')
                    indent = '  ' * (level - 1)
                    toc_markdown += f"{indent}* [{title}](#{link})\n"

    print("\n--- ✅ Copy the Markdown below and paste"
          "it into a new markdown cell ---\n")
    print(toc_markdown)


if __name__ == "__main__":
    # Example usage
    notebook_path = 'lucy.ipynb'  # Replace with your notebook path
    generate_toc_from_notebook(notebook_path)

--- ✅ Copy the Markdown below and pasteit into a new markdown cell ---

### **Table of Contents**
* [Keep this file in your project](#keep-this-file-in-your-project)